*{

	margin: 0 auto;
	font-family: "微软雅黑";
	font-size:"14px";
}
.main-content-self{
	width: 100%;
	height: 100%;
}
.left-menu-content-slef{
	width: 18%;
	height: 100%;
	float: left;
}
.right-work-content-self{
	width: 82%;
	height: 100%;
	float: left;
}
.group-label-self{
	text-align: right;
	line-height: 100%;
}
.content-page-title-v1{
	width: 100%;
	height: 114px;
	background-image: url("../images/page-title-v1.png") ;
	background-repeat: no-repeat;
	background-size:cover; 
	background-position: center;
}
.breadcrumb{
	margin-bottom: 0px !important;
}